<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>

    <p>Welcome to <%= title %></p>

    <iframe src="/module/oscilliscope/oscilliscope.html" width="800" height="380"></iframe>

  </body>
</html>